.App {
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
  background: linear-gradient(
    151.13deg,
    #5006d5 0%,
    #3c089b 44.1%,
    #330880 64.86%,
    #2e0970 76.75%,
    #230a52 100%
  );
}
::selection {
  background-color: #5006d5;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
}
